input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #495057;
    margin-right: 0.5em;
  }
  input[type="date"]:focus:before,
  input[type="date"]:valid:before {
    content: "";
  }
