.header {
    border-bottom: 1px solid #ccc;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.btn-upload-header {
    height: 35px;
    width: 130px;
    margin-top: 27px;
    margin-right:20px;
    background-color: #2FC4B2 !important;
    border: none !important;
    font-weight: bold !important;
}